$imgUrlPrefix: 'http://om6mucew9.bkt.clouddn.com/';
.wrap {
	.column {
		margin: auto;
		margin-top: 20px;
		clear: both;
		width: 1040px;
		.section {
			width: 100%;
			height: 100%;
			float: left;
			background: #fff;
			overflow: hidden;
			position: relative;
			h3 {
				font-size: 18px;
				margin: 0 2%;
				padding: 1% 4%;
				border-bottom: solid 1px #ccc;
				span {
					color: #ddd;
					font-size: 10px;
					padding: 2%;
				}
			}
		}
	}
	.main-top {
		height: 265px;
		background: #293B4D;
	}
	.main-hot {
		height: 300px;
		ul {
			width: 2400px;
			overflow: hidden;
			position: absolute;
			top: 80px;
			background: #000;
			li {
				width: 367px;
				height: 100%;
				float: left;
				background: #000;
				position: relative;
				img {
					transition: opacity 0.5s;
					opacity: 0.4;
					cursor: pointer;
				}
				&:hover img {
					opacity: 0.8;
				}
				&:hover:after {
					width: 36px;
					height: 36px;
					background: green;
					content: "";
					position: absolute;
					opacity: 1;
					bottom: 20px;
					left: 20px;
					background: url($imgUrlPrefix + 'playbar.png');
					background-position: 0 -204px;
				}
			}
		}
	}
	.main-rank {
		height: 600px;
		.section {
			width: 100%;
			.rank {
				width: 97%;
				margin: 15px;
				height: 493px;
				background: #f4f4f4;
				border: solid 1px #ccc;
				display: table;
				dl {
					display: table-cell;
					width: 33.3%;
					&:nth-child(2) {
						position: relative;
						width: 33.4%;
						&:before, &:after {
							content: "";
							position: absolute;
							width: 1px;
							height: 100%;
							background: #ddd;
							top: 0;
						}
						&:before {
							left: 0;
						}
						&:after {
							right: 0;
						}
					}
					a {
						color: #333;
						&:hover {
							text-decoration: underline;
						}
					}
					dt {
						padding: 20px;
						height: 80px;
						.dt-img {
							width: 80px;
							height: 80px;
							overflow: hidden;
							display: block;
							float: left;
						}
						.dt-txt {
							width: 50%;
							height: 80px;
							float: left;
							margin-left: 10px;
							font-size: 16px;
							a.title {
								width: 100%;
								line-height: 30px;
								font-weight: bold;
								display: block;
								float: left;
							}
							a.icon {
								width: 22px;
								height: 22px;
								float: left;
								display: block;
								margin: 5px;
								background: url($imgUrlPrefix + 'index.png') no-repeat;
							}
							a.icon-play {
								background-position: -267px -205px;
								&:hover {
									background-position: -267px -235px;
								}
							}
							a.icon-store {
								background-position: -300px -206px;
								&:hover {
									background-position: -300px -236px;
								}
							}
						}
					} 
					dd {
						width: 100%;
						height: 34px;
						float: left;
						overflow: hidden;
						line-height: 32px;
						span {
							color: red;
							font-size: 16px;
							display: block;
							width: 20px;
							text-align: center;
							float: left;
							text-align: center;
							padding: 0 10px 0 20px;
						}
						a.title {
							display: block;
							max-width: 110px;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							float: left;
						}
						.dd-oper {
							width: 90px;
							float: right;
							display: none;
							a {
								width: 17px;
								height: 17px;
								margin: 8px 5px;
								display: block;
								float: left;
								&.icon-play {
									background: url($imgUrlPrefix+'index.png');
									background-position: -267px -268px;
									&:hover {
										background-position: -267px -288px;
									}
								}
								&.icon-add {
									width: 15px;
									background: url($imgUrlPrefix+'iconplay.png');
									background-position: 0 -698px;
									&:hover {
										background-position: -22px -698px;
									}
								}
								&.icon-store {
									background: url($imgUrlPrefix+'index.png');
									background-position: -297px -268px;
									&:hover {
										background-position: -297px -288px;
									}
								}
							}
						}
					}
				} 
			}
		}
	}
}
