$dir: '../assets';
.audio-player {
  border-top: solid 1px #15212C;
  background: #293B4D;
  position: fixed;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  a, i, em {
    float: left;
    display: block;
    font-style: normal;
    text-decoration: none;
  }
  .audio-player-core {
    $pro-color: #111;
    $rdy-color: $pro-color + #333;
    $cur-color: #008d9a;
    width: 840px;
    height: 50px;
    margin: 0 auto;
    .play-btns {
      width: 120px;
      height: 100%;
      margin-left: 5px;
      float: left;
      > a {
        width: 28px;
        height: 28px;
        background: url($dir + '/playbar.png');
        &.prv {
          margin: 11px 0;
          background-position: 0 -129px;
        }
        &.play-ply, &.play-pas {
          width: 36px;
          height: 36px;
          margin: 7px;
        }
        &.play-ply {
          background-position: 0 -204px;
        }
        &.play-pas {
          background-position: 0 -165px;
        }
        &.nxt {
          margin: 11px 0;
          background-position: -80px -129px;
        }
        &.prv:hover { background-position: -30px -129px; }
        &.play-ply:hover { background-position: -40px -204px; }
        &.play-pas:hover { background-position: -40px -165px; }
        &.nxt:hover { background-position: -110px -129px;}
      }
    }
    .play-album {
      width: 34px;
      height: 34px;
      float: left;
      margin: 8px 10px;
      padding: 2px;
      background: url($dir + '/playbar.png');
      background-position: 0 -80px;
      > a > img {
        width: 30px;
      }
    }
    .play-progress {
      width: 510px;
      height: 100%;
      padding: 0 5px;
      float: left;
      > .pro-title {
        width: 100%;
        height: 25px;
        line-height: 25px;
        > a {
          color: #ddd;
          float: left;
          margin: 0 5px;
          &.singer {
            color: #999;
            padding: 0 10px;
          }
          &:hover { text-decoration: underline; }
        }
      }
      > .pro-bar { /* ---歌曲进度框 ---*/
        width: 100%;
        height: 25px;
        > .barbg {      /*总进度条*/
          $radius: 24px;
          width: 80%;
          height: 9px;
          margin-top: 5px;
          float: left;
          position: relative;
          background: $pro-color;
          border-radius: 4px;
          > .rdy {      /*灰色缓冲条*/
            width: 0;
            height: 100%;
            border-radius: $radius;
            background: $rdy-color;
          }
          > .cur {      /*当前条*/
            width: 100%;
            height: 100%;
            border-radius: $radius;
            position: absolute;
            top: 0;
            > .cur-inner {
              width: 0;
              height: 100%;
              position: absolute;
              background: $cur-color;
              border-radius: $radius;
              > a.btn-cur {
                width: 6px;
                height: 6px;
                top: -4px;
                right: -13px;
                cursor: pointer;
                position: absolute;
                background: $cur-color;
                border-radius: 50%;
                border: solid 5px #fff;
                > i.loading {
                  width: 12px;
                  height: 12px;
                  position: absolute;
                  left: -3px;
                  top: -3px;
                  background: url($dir + '/loading.gif');
                }
              }
            }
          }
        }
        > div.clock {
          width: 20%;
          height: 100%;
          display: block;
          float: right;
          color: #888;
          line-height: 20px;
          text-align: center;
          font-size: 12px;
          > i {
            display: inline;
            float: none;
            color: #ccc;
          }
          > em {
            float: none;
            display: inline;
          }
        }
      }
    }
    .play-ctrl {
      width: 115px;
      height: 100%;
      padding: 0 10px;
      float: left;
      position: relative;
      > .vlm-bar {
        display: none;
        position: absolute;
        top: -110px;
        left: 8px;
        width: 32px;
        height: 110px;
        background: rgba(0, 0, 0, 0.6);
        > .barbg {
          $radius: 4px;
          width: 4px;
          height: 88px;
          left: 15px;
          position: absolute;
          background: $pro-color;
          border-radius: $radius;
          top: 12px;
          > .cur {
            width: 4px;
            height: 0;
            left: 0;
            bottom: 0;
            border-radius: $radius;
            position: absolute;
            background: $cur-color;
            > i.btn-cur {
              width: 5px;
              height: 5px;
              top: -6px;
              left: -4px;
              cursor: pointer;
              position: absolute;
              border: solid 4px #fff;
              border-radius: 50%;
              background: $cur-color;
            }
          }
        }
      }
      > a {
        width: 24px;
        height: 24px;
        margin: 13px 1px;
        float: left;
        background: url($dir + '/playbar.png');
        &.icon-vol { background-position: -2px -248px; }
        &.icon-vol:hover { background-position: -31px -248px; }

        &.icon-shuffle { background-position: -66px -248px; }
        &.icon-shuffle:hover { background-position: -93px -248px; }

        &.icon-cycle { background-position: -3px -344px; }
        &.icon-cycle:hover { background-position: -33px -344px; }

        &.icon-single { background-position: -66px -344px; }
        &.icon-single:hover { background-position: -93px -344px; }
      }
      > .lop-hint {
        top: -35px;
        left: -10px;
        width: 82px;
        height: 40px;
        color: #eee;
        display: none;
        position: absolute;
        line-height: 35px;
        text-align: center;
        background: url($dir + '/playbar.png');
        background-position: 0 -457px;
      }
      span.music-list {    /*--播放列表--*/
        width: 60px;
        height: 100%;
        display: block;
        float: left;
        margin: 12px 0;
        position: relative;
        a {/*列表按钮*/
          width: 60px;
          height: 25px;
          color: #666;
          font-size: 12px;
          text-align: center;
          text-indent: 16px;
          line-height: 25px;
          background: url($dir + '/playbar.png');
          background-position: -42px -68px;
          &:hover {
            color: #888;
            background-position: -42px -98px;
          }
        }
        em {/*提示框-添加成功*/
          width: 152px;
          height: 50px;
          position: absolute;
          top: -50px;
          left: -65px;
          color: #eee;
          display: none;
          text-align: center;
          line-height: 40px;
          background: url($dir + '/playbar.png');
          background-position: 0 -286px;
        }
      }
    }
    .play-form {
      width: 480px;
      height: 300px;
      color: #979697;
      font-size: 12px;
      background: #293B4D;
      position: absolute;
      display: none;
      border-width: 1px;
      border-color: #15212c;
      border-top-style: solid;
      border-left-style: solid;
      border-right-style: solid;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      top: -301px;
      right: 100px;
      .form-title {
        width: 460px;
        height: 36px;
        padding: 0 10px;
        line-height: 36px;
        overflow: hidden;
        border-bottom: solid 1px #000;
        h3, a, span {
          margin: 0;
          float: left;
        }
        h3{
          width: 270px;
          margin-left: 10px;
          font-size: 17px;
        }
        a {
          color: #aaa;
        }
        a:hover{
          color: #ddd;
        }
        a.icon-colle{
          width: 75px;
          font-size: 12px;
        }
        a.icon-empty{
          width: 65px;
          font-size: 12px;
        }
        a > span{
          height: 16px;
          margin: 10px 2px;
          display: block;
          background: url($dir + '/playlist.png') no-repeat;
        }
        a.icon-colle span{
          width: 18px;
          background-position: -24px 1px;
        }
        a.icon-empty span{
          width: 16px;
          background-position: -51px 2px;
        }
        span{
          color: #191919;
          margin: 0 5px;
        }
        a.icon-close{
          width: 25px;
          height: 100%;
          float: right;
          cursor: pointer;
          background: url($dir + '/playlist.png');
          background-position: -195px 14px;
          &:hover{
            background-position: -195px -16px;
          }
        }
      }
      .form-tab{
        width: 470px;
        height: 260px;
        float: left;
        position: relative;
        overflow: hidden;
        ul.mtab{
          width: 100%;
          position: absolute;
          li{
            width: 100%;
            height: 30px;
            cursor: pointer;
            overflow: hidden;
            &:hover{
              color: #eee;
              background: #222;
            }
            .abs-stus{
              width: 25px;
              height: 30px;
              position: absolute;
              display: none;
              span.icn-stus{
                width: 10px;
                height: 13px;
                display: block;
                margin: 9px 0 0 8px;
                background: url($dir + '/playlist.png');
                background-position: -182px 0;
              }
            }
            .col{
              float: left;
              height: 30px;
              line-height: 30px;
            }
            .txtOF {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .col-1{
              width: 48%;
              text-indent: 25px;
            }
            .col-2{
              width: 17%;
              a{
                width: 20px;
                height: 20px;
                margin: 5px 3px;
                display: none;
                float: left;
                background: url($dir + '/playlist.png');
                &.icn-col{
                  background-position: -23px 2px;
                  &:hover{
                    background-position: -23px -18px;
                  }
                }
                &.icn-dwn{
                  background-position: -55px -48px;
                  &:hover{
                    background-position: -78px -48px;
                  }
                }
                &.icn-del{
                  background-position: -48px 3px;
                  &:hover{
                    background-position: -48px -17px;
                  }
                }
              }
            }
            .col-3{
              width: 23%;
            }
            .col-4{
              width: 8%;
              float: right;
              margin-right: 5px;
            }
          }
        }
        .empty {
          text-align: center;
          margin: 10px auto;
        }
        .scrol{
          width: 6px;
          height: 260px;
          padding-right: 2px;
          border-radius: 5px;
          cursor: pointer;
          float: right;
          background: #111;
          position: relative;
          overflow: hidden;
          display: none;
          .icon-scl{
            width: 6px;
            height: auto;
            margin: 0 5px 12px 0;
            position: absolute;
            border-radius: 5px;
            background: #ccc;
          }
        }
      }
    }
  }
}