$imgUrlPrefix: 'http://om6mucew9.bkt.clouddn.com/'; // 七牛云静态资源服务器
.route--active {
  font-weight: bold;
  text-decoration: underline;
}
.header {
	$wrap-width: 1040px; 
	$wrap-height: 132px;
	$banner-h: 80px;
	$sub-banner-h: $wrap-height - $banner-h;
	width: 100%;
	height: $wrap-height;
	min-width: $wrap-width;
	.center {
		width: $wrap-width;
		margin: 0 auto;
	}
	div.header-banner {
		height: $banner-h;
		> h1 {
			text-align: center;
			margin: 0;
			width: 170px;
			float: left;
			line-height: $banner-h;
			font-family: "Comic sans MS";
			a {
				display: block;
			}
		}
		ul {
			float: left;
			text-align: center;
			li {
				float: left;
			}
			&.nav li {
				font-size: 18px;
				line-height: $banner-h;
				a {
					color: #333;
					padding: 0 20px;
					display: block;
					&:hover {
						color: #31c27c;
						background: #fff;
					}
					&.active {
						color: #fff;
						background: #5CB85C;
					}
				}
			}
		}
		> .top-tool{
			float: left;
			padding: 0 35px 0 15px;
			.top-search {
				$input-h: 36px;
				width: 245px;
				height: $input-h;
				float: left;
				background: #fcfcfc;
				margin: ($banner-h - $input-h)/2 20px;
				border: solid 1px #ccc;
				border-radius: 4px;
				position: relative;
				input {
					width: 185px;
					height: $input-h - 2;
					border: 0;
					float: left;
					background: #fcfcfc;
					line-height: $input-h - 2;
				    outline: none;
				    margin-left: 15px;
				}
				i {
					width: 30px;
					height: 25px;
					display: block;
					float: right;
					cursor: pointer;
					margin: 5px;
					background: url($imgUrlPrefix + 'sprite.png');
					background-position: -440px -8px;
				}
				ul.dropdown-search {
					width: 245px;
					background: #fff;
					position: absolute;
					padding: 2px 0;
					border: solid 1px #ccc;
					border-radius: 0;
					display: none;
					top: 33px;
					left: -1px;
					li {
						width: 99%;
						height: 35px;
						line-height: 35px;
						text-indent: 15px;
						text-align: left;
						a {
							overflow: hidden;
							display: block;
							font-size: 10px;
							&.active, &:hover {
								background: #f1f1f1;
							}
							.col {
								float: left;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								&.result-master {
									max-width: 30%;
									color: #0C73C2;
								}
								&.col-str {
									max-width: 10%;
								}
								&.result-name {
									max-width: 60%;
								}
							}
						}
					}
				}
			}
			.top-user {
				padding-left: 25px;
				float: left;
				color: #666;
				cursor: pointer;
				background: inherit;
				line-height: $banner-h;
				.btn {
					margin: 0 5px;
				}
				.user-memb{
					height: auto;
					line-height: $banner-h;
					display: none;
					float: left;
					position: relative;
					h4 {
						font-weight: normal;
					}
					ul.slide-down {
						width: 90px;
						padding: 5px 0;
						text-align: center;
						background: #fafafa;
						border: solid 1px #aaa;
						border-radius: 4px;
						position: absolute;
						top: 50px;
						left: -30px;
						display: none;
						li {
							width: 88px;
							height: 25px;
							line-height: 25px;
							a {
								display: block;
								&:hover {
									background: #F2FAF7;
								}
							}
						}
					}
				}
			}
		}
	}
	div.sub-banner {
		width: 100%;
		height: $sub-banner-h;
		overflow: hidden;
		border-top: solid 1px #f2f2f2; 
		ul.sub-nav {
			margin-left: 190px;
			font-size: 15px;
			overflow: hidden;
			li {
				padding: 0 15px;
				color: #03DEDB;
				line-height: $sub-banner-h;
				float: left;
				a {
					color: #333;
					padding: 5px 15px;
					border-radius: 10px;
					&:hover, &:focus, &.active {
						color: #31c27c;
					}
				}
			}
		}
	}
}